body{
background: #70e1f5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color: white;
font-family: 'Titillium Web', sans-serif;
}

#div-container{
	margin: 0 auto;
	width: 100%;
	height: 80px;
	border-bottom: 2px solid white;
	float: left;
	position: fixed;
	top: 0px;
}

#header{
	width: 40%;
	height: 100%;
	float: left;

}

#header-icon{
	padding-left: 20px;
	height: 100%;
	float: right;
	clear:both;

}

#header-name{
	color: white;
	font-size: 24px;
	font-family: 'Titillium Web', sans-serif;
	float: left;
	padding-top: 25px;
	padding-left: 10px
}

#links{
	float: right;
	list-style-type: none;	
}

#links li{
	float:left;
	padding-top: 20px;
	font-size: 18px;
}

#links li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    
    text-decoration: none;
}

#links li a:hover{
	color: white;
}


h1{
	background-color: #2C5364;
	width: 100%;
	height: 60px;
	clear: both;
	text-align: center;
	 
	margin-top: 80px;
	padding-top: 20px;
	position: fixed;
	top: 0;
	opacity: .8;


}
#h1{
	font-size: 1.5em;
	text-transform: uppercase;
	/*font-family: 'Josefin Sans', sans-serif;*/
	/*font-family: 'PT Sans Caption', sans-serif;*/
	/*font-family: 'Cinzel', serif;*/
	/*font-family: 'Nanum Myeongjo', serif;*/
	/*font-family: 'Playfair Display SC', serif;*/
	/*font-family: 'Cardo', serif;*/
	font-family: 'Cormorant Garamond', serif;
	margin-top: 20px;
}

#body-container{
	width: 90%;
	margin: 150px auto;
}
.show{
	display: none;
}

#body-container p{
	width: 100%;
	float: left;
	margin:5% auto;
	text-align: center;
}

#body-container img{
	width: 30%;
	float: left;
	margin:1.66%;
	box-shadow: 5px 5px 5px #888888;
	
}







